Django==5.0.6
djangorestframework==3.16.0
# python-dotenv==1.0.1
python-dotenv==1.1.1
# requests==2.32.3
requests==2.32.4
# djangorestframework-simplejwt==5.3.1
djangorestframework-simplejwt==5.5.1
# django-cors-headers==4.3.1
django-cors-headers==4.7.0
pymemcache==4.0.0
gunicorn==23.0.0
openai==1.52.2
# drf-nested-routers==0.94.1
drf-nested-routers==0.94.2
# psycopg==3.2.4
psycopg==3.2.9
# ruff==0.9.6
ruff==0.12.5
drf-spectacular==0.28.0
Pillow
pdfkit==1.0.0
celery==5.5.3
redis>=4.0
django-celery-beat>=2.0
flower
cryptography
stripe==10.12.0
# bleach==6.0.0
bleach==6.2.0
# openpyxl==3.1.2
openpyxl==3.1.5
# sentry-sdk==1.45.0
sentry-sdk==2.33.2
