:root {
  --color-primary: #627fea;
  --color-primary-lighter: #627fea40;
  --color-primary-hover: #627fead3;
  --color-text: #1e1f21;
  --color-text-lighter: #5d5e5f;
  --color-body-background: #fff;
  --color-light-gray: #f2f2f2;
  --color-light-contrast: #f3f3f3;
  --color-power-contrast: #f5f5f5;
  --color-darker-gray: #d9d9d9;
  --color-danger: #ff3fff;
  --color-success: #0bb050 !important;
  --toastify-color-success: #0bb050 !important;
  --sidebar-background: #f6f6f6;
  --nav-link-hover-background: #00000011;
  --content-over-widget-color: #fff;
  --sidebar-width: 275px;
}

.dark-mode {
  --color-primary-lighter: #0bb050b1;
  --color-text: white;
  --color-text-lighter: #a5b0b9;
  --color-body-background: #202123;
  --sidebar-background: #202123;
  --nav-link-hover-background: #ffffff11;
  --color-light-contrast: #292a2b;
  --color-power-contrast: #1e2021;
  --content-over-widget-color: #333435;
}

#sidebar.active {
  --sidebar-width: 0;
  margin-left: calc(0px - 275px);
}

a {
  text-decoration: none !important;
  color: var(--color-text) !important;
}

.bold {
  font-weight: bold !important;
}

.fw-500 {
  font-weight: 500 !important;
}

*:focus {
  box-shadow: none !important;
}

body {
  background-color: var(--color-body-background) !important;
  margin: 0;
  padding: 0;
  color: var(--color-text) !important;
  font-family: "Segoe UI", Arial, sans-serif !important;
  font-weight: 400;
  font-size: 12pt;
  font-style: normal;
}

.page-content-wrapper {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.main-content-wrapper {
  width: 100%;
  overflow: auto;
  padding-left: var(--sidebar-width);
  min-height: 90vh;
}

.main-container {
  margin: auto;
  width: 100%;
}

.navbar-expand .navbar-nav .nav-link {
  font-weight: 500 !important;
  color: var(--color-text-lighter) !important;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.navbar-expand .navbar-nav .nav-link:hover,
.navbar-expand .navbar-nav .nav-link.active {
  color: var(--color-text) !important;
}

.btn-primary {
  background-color: var(--color-primary) !important;
  color: #fff !important;
  border-color: var(--color-primary) !important;
}

.btn-primary:hover {
  background-color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
}

.border-custom-primary {
  border: 1px solid var(--color-primary) !important;
}

.border-custom-regular {
  border: 1px solid var(--color-light-gray) !important;
}

.bgc-primary-transparent {
  background-color: #6280ea14 !important;
}

.medium {
  font-size: 10.8pt !important;
}

.small {
  font-size: 11.5px !important;
}

.txt-primary {
  color: var(--color-primary) !important;
}

.txt-primary-gradient {
  background: linear-gradient(90deg,
      var(--color-primary),
      var(--color-text),
      var(--color-primary));
  -webkit-background-clip: text;
  color: transparent;
}

.txt-regular {
  color: var(--color-text) !important;
}

.txt-lighter {
  color: var(--color-text-lighter) !important;
}

.txt-danger {
  color: var(--color-danger) !important;
}

.txt-success {
  color: var(--color-success) !important;
}

.bgc-primary-lighter {
  background-color: var(--color-primary-lighter) !important;
}

.bgc-success {
  background-color: var(--color-success) !important;
}

.bgc-danger {
  background-color: var(--color-danger) !important;
}

.bgc-primary {
  background-color: var(--color-primary) !important;
}

.bgc-body {
  background-color: var(--color-body-background) !important;
}

.bgc-light-contrast {
  background-color: var(--color-light-contrast) !important;
}

.rounded-lg {
  border-radius: 1.4rem !important;
}

.form-control {
  border: 1.35px solid var(--color-darker-gray) !important;
  background: transparent !important;
  transition: border-color 0.3s ease;
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
  color: var(--color-text) !important;
}

.form-control:focus {
  border-color: var(--color-text) !important;
}

::placeholder {
  color: var(--color-text-lighter) !important;
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--color-text-lighter) !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

hr {
  border-top: 1.4px solid var(--color-light-contrast) !important;
  opacity: 1 !important;
}

p {
  margin-bottom: 0.3rem !important;
}

.nav-tabs {
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-y: hidden;
}

p.two-words::after {
  content: "\A";
  white-space: pre;
}

.nav-tabs .nav-link {
  font-size: 9.5pt !important;
  text-align: left !important;
  padding-left: 0.5rem !important;
  border: 0 !important;
  background-color: transparent !important;
}

.hover:hover {
  background-color: var(--color-light-contrast);
}

.hover-lg:hover {
  background-color: #00000011 !important;
}

#sidebar {
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--sidebar-background);
  border-right: 1px solid var(--color-light-contrast);
  transition: all 0.3s;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-item.active,
.nav-item.active .nav-link,
.nav-item:hover,
.nav-item:hover .nav-link {
  color: var(--color-text) !important;
}

.nav-item:hover,
.nav-item.active {
  background-color: var(--nav-link-hover-background) !important;
}

.nav-item .nav-link {
  width: 100%;
  padding-top: 0.42rem;
  padding-bottom: 0.42rem;
  color: var(--color-text-lighter);
}

@media only screen and (max-width: 855px) {
  #sidebar {
    position: fixed !important;
    z-index: 9999 !important;
  }
}

.sidebar-link-group {
  padding-bottom: 1.85rem;
}

.nav-tabs .nav-item .nav-link {
  color: var(--color-secondary);
  border: none;
  border-bottom: 2px solid transparent;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: var(--color-dark) !important;
}

.table td,
.table th {
  padding: 1rem 0.3rem !important;
  font-size: 10.3pt !important;
  border: none !important;
}

.table td.d-flex,
.table th.d-flex {
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
}

.table-sheet td:not(.text-center),
.table-sheet th:not(.text-center) {
  text-align: left !important;
}

.table-sheet td,
.table-sheet th {
  padding: .5rem 0.3rem !important;
  font-size: 9.4pt !important;
}

.table-sheet .selected-cell {
  border: 1.5px solid var(--color-primary) !important;
  background-color: #6280ea3d !important;
  position: relative;
}

.table th {
  font-weight: 500 !important;
}

.table-bordered> :not(caption)>* {
  border-color: var(--color-light-gray) !important;
}

.dt-info {
  color: var(--color-text-lighter) !important;
}

.btn-basic {
  background-color: var(--color-light-contrast) !important;
  color: var(--color-text) !important;
}

.btn-basic:hover {
  background-color: var(--color-power-contrast) !important;
}

.btn-hover:hover {
  background-color: var(--color-power-contrast) !important;
  border-radius: 0.6rem;
}

.pointer {
  cursor: pointer;
}

li.disabled,
*::marker {
  display: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.modal-content {
  border: none !important;
  background-color: var(--content-over-widget-color) !important;
}

.status-badge {
  width: 12px;
  height: 12px;
  background: var(--bs-teal);
  border-radius: 50%;
  position: absolute;
  bottom: -0.2rem;
  right: -0.2rem;
  border: 2px solid white;
}

.form-check-input {
  margin: 0 !important;
  background-color: var(--color-body-background) !important;
}

.form-check-input:checked {
  background-color: #1e1f21 !important;
  border-color: var(--color-text) !important;
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: var(--color-light-contrast) !important;
  color: var(--color-text) !important;
}

p {
  margin-bottom: 0.3rem !important;
}

.btn-outline-secondary {
  border-color: var(--color-darker-gray) !important;
}

.btn-outline-secondary:hover {
  background-color: var(--color-light-contrast) !important;
}

.card {
  border-radius: 1.2rem !important;
  border: 1.5px solid var(--color-light-gray) !important;
  background-color: transparent !important;
}

.card.power-contrast {
  background-color: var(--color-power-contrast) !important;
}

.card * {
  color: var(--color-text);
}

.card .card-img-top {
  height: 200px;
  overflow: hidden !important;
  background-color: var(--color-light-contrast);
  border-radius: 1.2rem !important;
}

.card .card-img-top img {
  border-radius: 1.2rem !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card .card-img-top img:hover {
  transform: scale(1.1);
}

.table> :not(caption)>*>* {
  border: 1px solid var(--color-light-contrast) !important;
  background-color: var(--color-body-background) !important;
  color: var(--color-text) !important;
}

.dropdown-menu,
.list-group-item {
  color: var(--color-text) !important;
  border: none !important;
  background-color: var(--content-over-widget-color) !important;
}

.list-group-item:hover {
  background-color: var(--color-power-contrast) !important;
}

.dropdown-item {
  color: var(--color-text) !important;
}

.list-group-item {
  border: none !important;
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  opacity: 0.5 !important;
}

table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
  opacity: 1 !important;
}

table.table.dataTable> :not(caption)>*>* {
  background-color: var(--color-body-background) !important;
}

.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu .nav-item {
  margin-top: 5px;
}

.submenu .nav-link {
  font-size: 0.9rem;
  color: #6c757d;
}

.submenu .nav-link:hover {
  color: #000;
}

.menu-active,
.menu-active:hover {
  background-color: var(--color-body-background) !important;
  border: 1px solid var(--color-darker-gray) !important;
}

.react-datepicker__close-icon {
  display: none !important;
}

.breadcrumb {
  margin-bottom: 0 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: var(--color-darker-gray) !important;
}

.breadcrumb-item {
  font-size: 10pt !important;
}

.modal-footer {
  border-top: 0 !important;
}

.modal-header {
  border-bottom: 0 !important;
}

.modal-title {
  font-size: 15pt !important;
}